*{
    margin: 0%;
    padding: 0%;
}

body{
    background-image: url("image/back.jpg");
    background-size: 100% 740px;
}

.container{
    width: 300px;
    height: 400px;
    background-color: rgb(61, 66, 145);
    margin-left: 40%;
    margin-top: 10%;
    text-align: center;
    color: white;
    opacity: 0.8;
}

.container .text{
    position: relative;
    top: 7%;
    

}

.input1{
    border: none;
    border-bottom: 3px solid black;
    width: 250px;
    font-size: 20px;
    margin-top: 35px;
    outline: none;
    color: black;

}
.input2{
        border: none;
        border-bottom: 3px solid black;
        width: 250px;
        font-size: 20px;
        margin-top: 35px;
        outline: none;
        color: black;

}
.text #submitLogin{
    width: 250px;
    height: 44px;
    background-color: blue;
    border: none;
    font-size: 20px;
    border-radius: 25px;
    margin-top: 15px;
}
#submitLogin:hover{
    border: 3px solid blue;
    color: azure;
    font-size: 20px;
    background-color: black;
}

p{
    margin: 30px;
    font-size: 20px;
}

p span{
    color: rgb(238, 10, 166);
}
