body {
    background: #EAE9E5;
}

.form_container {
    margin-top: 12%;
    background: #fff;
    padding: 25px;
    border: 1px solid #AEAEAF;
    border-radius: 5px;
}

.form-control:focus {
    border: 1px solid #5136E8;
    box-shadow: none;
}

.form_btn {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    border: none;
    color: #fff;
    width: 100%
}

.logo {
    height: 50px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.field {
    font-weight: 700;
}

.errormsg {
    margin: 2px auto;
    border-radius: 5px;
    border: 1px solid red;
    background: pink;
    text-align: left;
    color: brown;
    padding: 1px;
}

.successmsg {
    margin: 5px auto;
    border-radius: 5px;
    border: 1px solid green;
    background: #33CC00;
    text-align: left;
    color: white;
    padding: 10px;
}