body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: bisque;
}

.container{
    text-align: center;
    background-color: white;
    margin: auto;

}
.row{
    display: inline-block;
}

form{
   
    text-align: left;
}